.nav-user {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
  border-radius: 50%;
  i {
    font-size: 1.75rem;
    color: white;
  }
}
.userPhoto {
  display: flex;
  align-items: center;
  .nav_username {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    font-weight: bold;
    margin-right: 5rem;
  }
}
.userPhoto div {
  display: flex;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.myShowUser {
  width: 400px;
  background-color: #ccc;
  position: fixed;
  right: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  top: 85px;
  z-index: 66;
  hr {
    margin: 0.5rem;
  }
  a {
    padding: 1rem 2rem;
    border-radius: 10px;
    i {
      padding-right: 15px;
    }
    &:hover {
      background-color: #ddd;
    }
  }
}
.navbar {
  z-index: 100;
  position: sticky;
  top: 0;
  transition: box-shadow 0.5s ease-in-out;
  background-color: #bbb;
  &.scrolled {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 992px) {
  .myShowUser {
    width: auto;
    right: 10px;
    top: 95px;
  }
  .userPhoto {
    display: none;
  }
}
