.register_main {
  z-index: 66;
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
  width: 570px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  position: relative;
  box-shadow: 0px 0px 18px 0px rgb(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  .register_close_button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    border: none;
    padding: 5px 10px;
    background-color: white;
    transition: all 0.25s ease;
    border-radius: 5px;
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
  .register_to_loginbtn {
    border: none;
    color: rgb(40, 40, 255);
    background-color: white;
    transition: all 0.25s ease;
    margin-left: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
  .register_button_cursor_none {
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgb(177, 177, 177);
    cursor: default;
    width: 100%;
  }
  .preloader > div {
    margin: 2px;
    background-color: #e6e6e6;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    animation: stretchdelay 0.7s infinite ease-in-out;
  }
  .preloader .circ1 {
    animation-delay: 0;
  }

  .preloader .circ2 {
    animation-delay: 0.1s;
  }

  .preloader .circ3 {
    animation-delay: 0.2s;
  }

  .preloader .circ4 {
    animation-delay: 0.3s;
  }
  .login_button_cursor_none {
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgb(177, 177, 177);
    cursor: default;
  }
}

@media screen and (max-width: 550px) {
  .register_main {
    height: 100%;
    border-radius: 0;
  }
}
