.to_top {
  position: fixed;
  font-size: 5rem;
  bottom: 5%;
  right: 10%;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0;
}
.to_top.fade {
  opacity: 1;
}

@media screen and (max-width: "800px") {
  .to_top {
    bottom: 0;
    right: 2%;
    font-size: 3.5rem;
  }
}
