* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
@import "./home";
@import "./profile";
@import "./postnew";
@import "./onepost";
@import "./editprofile";
@import "./postreply";
@import "./replys";
@import "./postedit";
@import "./deletemodal";
@import "./onepostdelete";
@import "./userdelete";
@import "./welcomepage";
@import "./login";
@import "./register";
@import "./homeLoading";
